@charset "utf-8";
body{
	font-family: 'Gotham';
    font-size: 16px;}
@font-face{
    font-family: 'Gotham';
    src: url('../fonts/gothamregular-webfont.eot');
    src: url('../fonts/gothamregular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamregular-webfont.woff2') format('woff2'),
         url('../fonts/gothamregular-webfont.woff') format('woff'),
         url('../fonts/gothamregular-webfont.ttf') format('truetype'),
         url('../fonts/gothamregular-webfont.svg#gothamregular-webfont') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face{
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Bold.eot');
    src: url('../fonts/GothamRounded-Boldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
         url('../fonts/GothamRounded-Bold.woff') format('woff'),
         url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
         url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;}

@font-face{
    font-family: 'Gotham Medium';
    src: url('../fonts/GothamRounded-Medium.eot');
    src: url('../fonts/GothamRounded-Mediumd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
         url('../fonts/GothamRounded-Medium.woff') format('woff'),
         url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
         url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;}

.btn-red {
    color: #fff;
	font-family: 'Gotham Rounded';
	font-weight: 200;
    background-color: #3DB8C1;
    border-color: #3DB8C1;}
	
.btn-red:hover {
    color: #fff;}
	
.txt-title{
	font-family: 'Gotham rounded';
	font-weight: 500;
	font-size: 22px;
	color: #144597;}
	
.txt-title-modal{
	font-family: 'Gotham rounded';
    font-weight: 500;
    font-size: 25px;
    color: #29509C;}
	
.txt-detalle-modal {
    font-family: 'Gotham rounded';
    font-weight: 500;
    font-size: 16px;
    color: #000;
	margin-bottom: 30px;}
	
.btn-aec {
    background-color: #29509C!important;
    background-image: none;
    border: none;
    font-family: 'Gotham rounded';
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    padding: 7px 15px;
    min-width: 150px;}

.txt-detalle-title{
	font-size: 17px;
	font-family: 'Gotham Rounded';
	color:#1D1D1B;
	margin-top: 10px;
	margin-bottom: 10px;}

.p-lr30{
	padding-left: 15px;
	padding-right: 15px;}
	
.pt-30{
	padding-top: 30px;}
	
.btn-blue {
    color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    background-color: #3DB8C1;
    border-color: #3DB8C1;}
	
.btn-yellow{
	color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    background-color: #f7a605;
    border-color: #f7a605;}
	
.btn-yellow:hover{
	color: #fff;}
	
.btn-blue-2{
    color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    background-color: #3279be;
    border-color: #3279be;}
	
.btn-blue-2:hover{
	color: #fff;}

.box-cursos{
	width:100%;
	display:block;
	background-color:#ffffff;
	border:1px solid #C6C6C6;
	margin-bottom: 15px;}
	
.detalle-constancia{
	position: absolute;
    left: 10px;
    top: 15px;}
	
.titulo-curso{
	font-size: 17px;
	font-family: 'Gotham Rounded';
	color:#1D1D1B;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	min-height: 51px;
    margin-left: 5px;
	margin-right: 5px;}
	
.box-detalles{
	min-height:129px;
	width:100%;
	display:block;
	font-family: 'Gotham Rounded';
	padding:10px 15px 15px 15px;}
	
.box-detalles p{
	margin-bottom: 5px;}
	
.box-detalles p .txt-detalle-curso img{
    margin-top: -5px;
	padding-left: 10px;
	padding-right: 10px;}
	
.box-detalles-eba{
	min-height:100px;
	width:100%;
	display:block;
	font-family: 'Gotham Rounded';
	padding:10px 15px 5px 15px;}
	
.box-detalles-eba p{
	margin-bottom: 5px;}
	
.box-detalles-eba p .txt-detalle-curso img{
    margin-top: -5px;
	padding-left: 10px;
	padding-right: 10px;}
	
.btn-curso{
	margin:7px auto;}
	
.txt-detalle-curso{
	font-size: 16px;
	font-family: 'Gotham Rounded';
	color:#575756;
	margin-top: 10px;
	margin-bottom: 10px;}

.box-ayuda{
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	background-color: #144597; 
	color: #fff;
	font-family: 'Gotham Rounded';
	font-size: 19px;}
	
.box-ayuda a{
	font-size: 22px;
	color: #fff;
	text-decoration: none;}

.nav-pills>li.active>a.btn-one{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #FFC43A;}
	
.nav-pills>li>a.btn-one{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #FFC43A;
	border: 1px solid #FFC43A; }
	
.nav-pills>li.active>a.btn-two{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #3DB8C1;}
	
.nav-pills>li>a.btn-two{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #3DB8C1;
	border: 1px solid #3DB8C1; }
	
.nav-pills>li.active>a.btn-three{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #3279BE;}
	
.nav-pills>li>a.btn-three{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#3279BE;
	background-color: #ffffff;
	border: 1px solid #3279BE;}

.nav-pills>li.active>a.btn-four{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #fdc500;}
	
.nav-pills>li>a.btn-four{
	font-size: 16px;
	font-family: 'Gotham Rounded';
	color:#fdc500;
	background-color: #ffffff;
	border: 1px solid #fdc500; }

.nav-pills>li.active>a.btn-five{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #f7a605;}
	
.nav-pills>li>a.btn-five{
	font-size: 18px;
	font-family: 'Gotham Rounded';
	color:#f7a605;
	background-color: #ffffff;
	border: 1px solid #f7a605; }

.nav-pills>li.active>a.btn-custom{
	font-size: 25px;
	font-family: 'Gotham Rounded';
	color:#fff;
	background-color: #FFC43A;}
	
.nav-pills>li>a.btn-custom{
	font-size: 25px;
	font-family: 'Gotham Rounded';
	color:#FFC43A;
	background-color: #FFC43A;}
	  
.title-red{
	font-family: 'Gotham Rounded';
	color:#FFFFFF;
	font-size:1.5em;
	text-align:center;
	padding:5px 15px;
	background-color:#FF2E45;}
	
.txt-progreso{
	font-family: 'Gotham Rounded';
	color:#FFFFFF;
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;
	background-color:#5DC4BD;
	margin-bottom: 0px;}
	
.txt-inscripcion{
	font-family: 'Gotham Rounded';
	color:#FFFFFF;
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;
	background-color:#FDBA13;
	margin-bottom: 0px;}
	
.txt-proximamente{
	font-family: 'Gotham Rounded';
	color:#FFFFFF;
	font-size:1.2em;
	text-align:center;
	padding:5px 15px;
	background-color:#ee344b;
	margin-bottom: 0px;}

.bg-section4 {
	background-color: #00a59c;
	padding: 20px 0;
	text-align: center;
	margin: auto;}

.bg-section4 h3 {
	color: white;
	font-size: 50px;
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 30px;}

.content-text-p p{
    padding:  0px 80px 40px 80px;}

.text-center{
    text-align: center;
    margin-top: 15px;}
  
.text-center a img{
    width: 100px;
    height: 35px;
    margin: auto;}
  
.content-item-programa{
	margin-bottom: 36px;}
	
.content-titulo-programa{
	width: 100%;
	background: #29396A;
	color: white;
	padding: 8px;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Gotham Rounded';
	line-height: 25px;}
	
.bloque-info-programa{
	display: flex;
	margin-bottom: 26px;}
	
.detalle-constancia-programa{
	position: absolute;
    left: -4px;
    top: 15px;}
  
.content-banner-programa{
	position: relative;
	width: 60%;}
	
.content-btn-programa{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;}
	
.content-detalle-programa{
	border: 1px solid #DADADA;
	border-radius: 6px;
	width: 38%;
	margin-left: 2%;
	display: flex;
	padding: 10px 30px;
	flex-direction: column;
	justify-content: center;}
	
.item-info-programa{
	display: flex;
	margin-bottom: 20px;}
	
.item-info-programa:last-child{
	margin-bottom: 0;}
	
.content-icono-item{
	display: flex;
    align-items: center;}
  
.content-texto-item{
	margin-left: 20px;}
	
.texto-medium-item{
    font-size: 16px;
    line-height: 19px; 
    font-family: 'Gotham Medium';}

.titulo-nivel{
	font-size: 16px;
    line-height: 19px; 
    font-family: 'Gotham Medium';
    margin-bottom: 15px;}
	
.list-orden{
	margin-bottom: 18px;
	padding-left: 14px;
    line-height: 23px;
    margin-bottom: 18px;}
  
.btn-programa{
	background: #29396A;
	color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    min-width: 170px;
    margin: 3px 10px;}
  
.btn-programa:hover {
    color: #fff;}

.bloque-programa-detalle{
	display: none;}
	
.prog-container-tabs{
    margin-top: 5px;}
	
.prog-tabs{
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    display: flex;}
	
.prog-tab-link{
	width: 100%;
	background: #BBBBBB;
	border-radius: 6px;
	color: white;
	font-family: 'Gotham Rounded';	
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align:center;}
	
.prog-tab-link-2{
	width: 100%;
	background-color:#AB4B97;
	border-radius: 6px;
	color: white;
	font-size:25px;
	font-family: 'Gotham Rounded';	
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-bottom: 1rem;
	margin-top: 2rem;}
	
.sub-menu-curses{
	background: #3DB8C1;}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;}
	
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;}
	
.prog-tab-link + .prog-tab-link{
	margin-left: 24px;}
	
.prog-tabs li.tab-active{
	position: relative;}
	
.prog-tabs li.tab-active:nth-child(1){
	background-color: #AB4B97;}
	
.prog-tabs li.tab-active:nth-child(2){
	background: #3DB8C1;}
	
.prog-tabs li.tab-active:nth-child(3){
	background: #FFC43A;}
	
.prog-tabs li.tab-active:nth-child(1):before{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 170, 10, 0);
	border-top-color: #AB4B97;
	border-width: 13px;
	margin-left: -13px;}
	
.prog-tabs li.tab-active:nth-child(2):before{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 170, 10, 0);
	border-top-color: #3DB8C1;
	border-width: 13px;
	margin-left: -13px;}
	
.prog-tabs li.tab-active:nth-child(3):before{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 170, 10, 0);
	border-top-color: #FFC43A;
	border-width: 13px;
	margin-left: -13px;}
	
.container-info-tabs{
	margin-top: 30px;}
	
.prog-tab-body{
    padding-top: 0.5vw;
	display: none;}

.prog-tab-body.tab-active {
    display: inherit;}

.content-item-programa-2 .content-titulo-programa{
	background: #EFB41D;}
	
.content-item-programa-3 .content-titulo-programa{
	background: #5CB003;}

.btn-programa-simple{
  	background: #EFB41D;
  	color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    min-width: 170px;
    margin: 3px 10px;}
	
.btn-programa-simple:hover {
    color: #fff;}

.content-titulo-seccion{
	max-width: 220px;
	margin: 0 auto;
	margin-bottom: 35px;}
	
.titulo-texto-seccion{
	display: inline-block;
	margin-left: 15px;
	font-size: 18px;
	vertical-align: middle;
	font-family: 'Gotham Rounded';}
	
.accordion-item-grupo{
	border-bottom: 1px solid #fff;}
	
.card-accordion-grupo{
	width: 38px;
	padding: 5px;
	color: white;
	text-align: center;
	font-family: 'Gotham Rounded';
	background: #BBBBBB;
	width: 100%;
	position: relative;
	cursor: pointer;}
	
.card-accordion-grupo:before{
	content: '';
	position: absolute;
	right: 13px;
    top: 11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 0 6.5px 9px;
	border-color: transparent transparent transparent #ffffff;	
	transition: all 0.3s;}
	
.card-accordion-grupo.acordion_active:before{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);}
	
.card-accordion-grupo.acordion_active{
	background: #F7AA0A;}
	
.content-accordion-grupo--primaria .acordion_active{
	background: #3DB8C1;}
	
.content-accordion-grupo--secundaria .acordion_active{
	background: #FFC43A;}
	
.collapse-accordion-grupo{
	border:1px solid #BBBBBB;
	border-top: 0;
	padding: 30px 5%;
	display: none;}
	
.collapse-accordion-grupo li{
	margin-bottom: 10px;}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;}
	
.content-info-select{
	margin-top: 30px;
	margin-bottom: 50px;}
	
.titulo-cronograma{
	font-size: 16px;
	line-height: 19px;
	font-family: 'Gotham Rounded';
	font-style: italic;
	margin-bottom: 20px;}
	
.nombre-grupo-secundaria{
	display: inline-block;
	position: relative;
	font-family: 'Gotham Rounded';
	margin-bottom: 15px;}
	
.estado-grupo{
	background: #0EA955;
	color: white;
	display: inline-block;
	padding: 2px 10px;
	position: relative;
	margin-left: 20px;
	font-family: 'Gotham Rounded';}
	
.estado-grupo:before{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(14, 169, 85, 0);
	border-right-color: #0EA955;
	border-width: 8px;
	margin-top: -8px;}
	
.estado-grupo--cerrado{
	background: #FF0000;}
	
.estado-grupo--cerrado:before{
	border-right-color: #FF0000;}
	
.hr-eva{
	margin-bottom:-0px;
	margin-top:-0px;
	border-top:2.5px solid #eee;}
.video-container{
	background-color: #fff; 
	padding-top: 1.5vw;
	padding-bottom:1.5vw;
	width:70%;
	
	
}
/*Media queries*/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) { 
	.ayuda-pc{
		display:block;}
	.ayuda-cel{
		display:none !important;}

	.hr-eva{
		width:30vw;
	}
}

@media (max-width: 991px) { 
	.bloque-info-programa{
		display: block;
	}
	.content-banner-programa{
		width: 100%;
	}
	.content-detalle-programa{
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
	.titulo-nivel span{
		display: block;
		margin-bottom: 15px;
	}
	.prog-tab-body{
		padding: 1.5vw;
	}
	.prog-tab-link + .prog-tab-link {
    margin-left: 10px;
	}
	.hr-eva{
		width:30vw;
	}
	.video-container{
		width:90%;
	}
}
@media (max-width: 767px) { 
.hr-eva{
		width:65vw;
	}
	.logo-minedu img{
		margin-top: 1.3em !important;}

	.ayuda-pc{
		display:none !important;}
	.ayuda-cel{
		display:block;
		margin: 0 auto;}
	
	.content-text-p p{
		padding:  0 10px !important;
	}
	.video-container{
		width:90%;
	}
	.container-componentes{
		margin-bottom:4vw;
	}
}

@media(max-width: 425px){
	.hr-eva{
		width:50vw;
	}
	.box-ayuda a{
	  font-size:4vw !important;
	}

	.txt-title, .txt-detalle-title{
		text-align: center;
	}

	.logo-minedu{
		margin-bottom: 40px;
	}
  
	.pt-30{
		padding-left: 0;
		padding-right: 0;
	}
	.box-cursos{
		min-height: 370px;
	}

	.titulo-curso{
		padding: 0px 10px;
	}

	.pull-left, .pull-left a , .pull-left a img,
	.pull-right, .pull-right a , .pull-right a img{
		width: 100%;
	}
	.video-container{
		width:90%;
	}
	
}



.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 4rem;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  z-index: 100;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 7vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all .3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all .3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}

  .carousel-inner .item{ 
   height:60vh; 
   background-size:cover;
   background-position: center center;
}

@media only screen and (min-width: 992px) {
  .carousel-inner .item {
   height:72vh; 
  }
  .img-responsive2{
	 max-width:30%; 
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel-inner .item{ 
   height:56vh; 
   background-size:cover;
   background-position: center center;
}
}

